//Metodologia BEM
// BLOCK -ELEMNT-MODIFIER
// BLOCK Obejto dentro de la pagina web: Header,o el contenido de la pagina
// ELEMNT componente dentro del block que ejecuta una particularidad funcion: por ejemeoplo
// elemento dentro del menu desplegable o un boton para guardar un conjunto de datos
// MODIFIERS son las variaciones que ocurren dentro de un block ejmplo: transicion que ocurre cuando se
// pasa el cursor sobre un boton. cambia de fondo y el damaño
// BEM separa los estilos de la logica del programa

// un estilo referencia a una sola hoja o es global.
// si esta en un componente los estilos solo viven en el componente
// se recomienda arrancar con el global como los fonts la tipografia los colores basicos y las interfaces

// referencia a los colores material.io/resources/color
//estilos
$base:#fafafa;
$base-dark:#e0e0e0;
$base-light:#ffffff;
$on-base:#000000;

//colores
$primary: #0277bd;
$primary-dark: #004c8c;
$primary-light: #58a5f0;
$on-primary: #ffffff;

$secondary: #f44336;
$secondary-dark: #b90007;
$secondary-light: #ff795d;
$on-secondary: #ffffff;

//para error 
$error: #B00020;
$on-error: #ffffff;
//success
$success: #004c8c;
$on-success: #ffffff;


$color_1: #FFF;
$color_2: #696763;
$color_3: #fff;
$color_4: #B4B1AB;
$color_5: #FFFFFF;
$color_6: #fe980f;
$color_7: #fdb45e;
$color_8: #B2B2B2;
$color_9: #FDB45E;
$color_10: #FE980F;
$color_11: #B3B3AD;
$color_12: #8C8C88;
$color_13: #8c8c88;
$color_14: #666663;
$color_15: #CCCCC6;
$color_16: #363432;
$color_17: #C2C2C1;
$color_18: #B3AFA8;
$color_19: #000;
$color_20: #A6A6A1;
$color_21: #434343;
$color_22: #393b3b;
$color_23: #CCCCCC;
$color_24: #393B3B;
$color_25: #ADB2B2;
$color_26: #8D8D8D;
$color_27: #999;