<header class="border-bottom mb-4 pb-3">
    <div class="form-inline">
        <span class="mr-md-auto">32 Items found </span>
        <select class="mr-2 form-control">
            <option>Latest items</option>
            <option>Trending</option>
            <option>Most Popular</option>
            <option>Cheapest</option>
        </select>
        <div class="btn-group">
            <a href="#" class="btn btn-outline-secondary active" data-toggle="tooltip" title="List view"> 
                <i class="fa fa-bars"></i></a>
            <a href="#" class="btn  btn-outline-secondary" data-toggle="tooltip" title="Grid view"> 
                <i class="fa fa-th"></i></a>
        </div>
    </div>
</header><!-- sect-heading -->


<div *ngFor="let product of products" class="card card-product-list">
    <div class="row no-gutters">
        <aside class="col-md-3">
            <a href="#" class="img-wrap">
                <!-- Use product.thumbnail and product.name -->
                <span class="badge badge-danger"> NEW </span>
                <img [src]="product.thumbnail" alt="{{ product.name }}">
            </a>
        </aside> <!-- col.// -->
        <div class="col-md-6">
            <div class="info-main">
                <!-- Use product.name and product.description -->
                <a href="#" class="h5 title">{{ product.name }}</a>
                <div class="rating-wrap mb-3">
                    <!-- ... -->
                </div> <!-- rating-wrap.// -->
                
                <!-- Use product.description -->
                <p>{{ product.description }}</p>
            </div> <!-- info-main.// -->
        </div> <!-- col.// -->
        <aside class="col-sm-3">
            <div class="info-aside">
                <div class="price-wrap">
                    <!-- Use product.price and product.compare_price -->
                    <span class="price h5">{{ product.price }}</span>  
                    <del class="price-old">{{ product.compare_price }}</del>
                </div> <!-- info-price-detail // -->
                <p class="text-success">Free shipping</p>
                <br>
                <p>
                    <a href="#" class="btn btn-primary btn-block"> Details </a>
                    <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i> 
                        <span class="text">Add to wishlist</span>
                    </a>
                </p>
            </div> <!-- info-aside.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- Loop end -->






<article class="card card-product-list">
    <div class="row no-gutters">
        <aside class="col-md-3">
            <a href="#" class="img-wrap">
                <span class="badge badge-danger"> NEW </span>
                <img src="assets/images/items/3.jpg">
            </a>
        </aside> <!-- col.// -->
        <div class="col-md-6">
            <div class="info-main">
                <a href="#" class="h5 title"> Great product name goes here cambio </a>
                <div class="rating-wrap mb-3">
                    <ul class="rating-stars">
                        <li style="width:80%" class="stars-active"> 
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                        </li>
                        <li>
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                        </li>
                    </ul>
                    <div class="label-rating">7/10</div>
                </div> <!-- rating-wrap.// -->
                
                <p> Take it as demo specs, ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam </p>
            </div> <!-- info-main.// -->
        </div> <!-- col.// -->
        <aside class="col-sm-3">
            <div class="info-aside">
                <div class="price-wrap">
                    <span class="price h5"> $140 </span>  
                    <del class="price-old"> $198</del>
                </div> <!-- info-price-detail // -->
                <p class="text-success">Free shipping</p>
                <br>
                <p>
                    <a href="#" class="btn btn-primary btn-block"> Details </a>
                    <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i> 
                        <span class="text">Add to wishlist</span>
                    </a>
                </p>
            </div> <!-- info-aside.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</article> <!-- card-product .// -->
